In [2]:
#  importing libraries

import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt

# # Problem Statement 1

In [3]:
"""Problem Statement 1
 
#### Samantha has created a dataset named 'top50spotify.csv' of her top 50 songs from spotify.

#### Dataset Description:
top50spotify.csv 
-
The dataset contains 14 features. Here's a brief description of a few columns 
in the dataset:
1. SerialNo. 
2. Serial number of songs
3. Track.Name 
4. Name of the track
5. Artist.Name 
6. Name of the artist
7. Genre 
8. Genre of the song
9. Energy 
10. Energy index of the song
11. Length 
12. Length of the song
13. Popularity 
14. Popularity index of the song"""

"Problem Statement 1\n \n#### Samantha has created a dataset named 'top50spotify.csv' of her top 50 songs from spotify.\n\n#### Dataset Description:\ntop50spotify.csv \n-\nThe dataset contains 14 features. Here's a brief description of a few columns \nin the dataset:\n1. SerialNo. \n2. Serial number of songs\n3. Track.Name \n4. Name of the track\n5. Artist.Name \n6. Name of the artist\n7. Genre \n8. Genre of the song\n9. Energy \n10. Energy index of the song\n11. Length \n12. Length of the song\n13. Popularity \n14. Popularity index of the song"

In [4]:
# 1. importing the file top50spotify.csv and droping the first column


df = pd.read_csv('top50spotify.csv')

# droping the first column

df.drop(df.columns[0], axis=1, inplace=True)

In [5]:
#2. saving the file as top50.csv

df.to_csv('top50.csv')

In [6]:
# 3. Find the average Energy and Length of first 10 songs
first_10_songs = df.head(10)
average_energy = first_10_songs['Energy'].mean()
average_length = first_10_songs['Length.'].mean()
print("Average Energy of the first 10 songs:", average_energy)
print("Average Length of the first 10 songs:", average_length)

Average Energy of the first 10 songs: 65.1
Average Length of the first 10 songs: 195.6

In [7]:
# 4. Find the total length of songs, group by genre from top to bottom.

total_length_by_genre = df.groupby('Genre')['Length.'].sum().sort_values(ascending=False)
print("Total length of songs, grouped by genre:")
print(total_length_by_genre)

Total length of songs, grouped by genre:
Genre
dance pop           1621
pop                 1368
latin               1126
edm                  656
reggaeton flow       611
canadian hip hop     579
panamanian pop       514
reggaeton            427
brostep              396
electropop           389
canadian pop         382
dfw rap              333
country rap          272
australian pop       210
atl hip hop          200
boy band             181
escape room          173
big room             164
r&b en espanol       162
pop house            153
trap music           131
Name: Length., dtype: int64

In [8]:
#5. printing the artist name with the most number of tracks in one genre

artist_with_most_tracks = df.groupby(['Artist.Name', 'Genre']).size().reset_index(name='TrackCount')
max_track_count = artist_with_most_tracks['TrackCount'].max()
artist_with_most_tracks = artist_with_most_tracks[artist_with_most_tracks['TrackCount'] == max_track_count]
print("Artist with the most tracks in one genre:")
print(artist_with_most_tracks)

Artist with the most tracks in one genre:
  Artist.Name Genre  TrackCount
9  Ed Sheeran   pop           4

In [9]:
# 6. Print the data of the tracks created by the artist from the previous question

TrackNames= df[df['Artist.Name'] == 'Ed Sheeran']
print("Tracks created by Ed Sheeran:")
print(TrackNames)

Tracks created by Ed Sheeran:
                                       Track.Name Artist.Name Genre  \
3                 Beautiful People (feat. Khalid)  Ed Sheeran   pop
5               I Don't Care (with Justin Bieber)  Ed Sheeran   pop
37                 Antisocial (with Travis Scott)  Ed Sheeran   pop
49  Cross Me (feat. Chance the Rapper & PnB Rock)  Ed Sheeran   pop

    Beats.Per.Minute  Energy  Danceability  Loudness..dB..  Liveness  \
3                 93      65            64              -8         8
5                102      68            80              -5         9
37               152      82            72              -5        36
49                95      79            75              -6         7

    Valence.  Length.  Acousticness..  Speechiness.  Popularity
3         55      198              12            19          86
5         84      220               9             4          84
37        91      162              13             5          87
49        61      206              21            12          82

# Problem Statement 2

In [10]:
""" 
 Problem Statement 2

 Write a Python program to perform the following tasks

1.  Create a pandas series from the below dictionary where indices are subjects:

{'English':{'Sam':60,'Jackson':74,'Ahree':85}, 

'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61
},

'Geography':{
'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'A
hree':76}, 

'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85,
'Gray':95},

'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87
}
}

2.Convert the created series into DataFrame and replace the null values with zeroes.
3.Transpose the DataFrame and create a new column 'Average' and fill the values in it by 
calculating the average of all subjects


"""

" \n Problem Statement 2\n\n Write a Python program to perform the following tasks\n\n1.  Create a pandas series from the below dictionary where indices are subjects:\n\n{'English':{'Sam':60,'Jackson':74,'Ahree':85}, \n\n'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61\n},\n\n'Geography':{\n'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'A\nhree':76}, \n\n'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85,\n'Gray':95},\n\n'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87\n}\n}\n\n2.Convert the created series into DataFrame and replace the null values with zeroes.\n3.Transpose the DataFrame and create a new column 'Average' and fill the values in it by \ncalculating the average of all subjects\n\n\n"

In [11]:
# creating a dictionary

data = {'English':{'Sam':60,'Jackson':74,'Ahree':85},

'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61},

'Geography':{'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'Ahree':76},

'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85, 'Gray':95},
'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87}}

# creating a series from the dictionary

series = pd.Series(data)

# printing the series


series

English                  {'Sam': 60, 'Jackson': 74, 'Ahree': 85}
History        {'Gloria': 83, 'Sam': 65, 'Isla': 78, 'Aron': ...
Geography      {'Jackson': 92, 'Gloria': 95, 'Isla': 82, 'Aro...
Mathematics    {'Sam': 99, 'Gloria': 74, 'Jackson': 89, 'Ahre...
Science        {'Sam': 89, 'Aron': 82, 'Gray': 78, 'Isla': 93...
dtype: object

In [12]:
# 1.  creating a functions that converts a dictionary into a series

def create_series_from_dict(dictionary):
    series_list = []
    for key, value in dictionary.items():
        series = pd.Series(value, name=key)
        series_list.append(series)
    return series_list

series_list = create_series_from_dict(data)

for series in series_list:
    print(series)
    print("\n")

Sam        60
Jackson    74
Ahree      85
Name: English, dtype: int64


Gloria    83
Sam       65
Isla      78
Aron      72
Gray      61
Name: History, dtype: int64


Jackson    92
Gloria     95
Isla       82
Aron       75
Ahree      76
Name: Geography, dtype: int64


Sam        99
Gloria     74
Jackson    89
Ahree      85
Gray       95
Name: Mathematics, dtype: int64


Sam      89
Aron     82
Gray     78
Isla     93
Ahree    87
Name: Science, dtype: int64

In [13]:
# 2.Convert the created series into DataFrame and replace the null values with zeroes.

df_3 = pd.DataFrame(series_list).fillna(0)

df_3

              Sam  Jackson  Ahree  Gloria  Isla  Aron  Gray
English      60.0     74.0   85.0     0.0   0.0   0.0   0.0
History      65.0      0.0    0.0    83.0  78.0  72.0  61.0
Geography     0.0     92.0   76.0    95.0  82.0  75.0   0.0
Mathematics  99.0     89.0   85.0    74.0   0.0   0.0  95.0
Science      89.0      0.0   87.0     0.0  93.0  82.0  78.0

In [14]:
# 3.Transpose the DataFrame and create a new column 'Average' and fill the values in it by calculating the average of all subjects

# transposing the dataframe

df_3= df_3.transpose()

# creating a new column 'Average' and filling the values in it by calculating the average of all subjects   

df_3['Average'] = df_3.mean(axis=1)

# printing the dataframe

print("The dataframe after transposing and adding the average column:")

df_3

The dataframe after transposing and adding the average column:

         English  History  Geography  Mathematics  Science  Average
Sam         60.0     65.0        0.0         99.0     89.0     62.6
Jackson     74.0      0.0       92.0         89.0      0.0     51.0
Ahree       85.0      0.0       76.0         85.0     87.0     66.6
Gloria       0.0     83.0       95.0         74.0      0.0     50.4
Isla         0.0     78.0       82.0          0.0     93.0     50.6
Aron         0.0     72.0       75.0          0.0     82.0     45.8
Gray         0.0     61.0        0.0         95.0     78.0     46.8

# # Problem Statement 3

In [15]:
# Problem Statement 3: Write a Python program to create a series from 1 to 1000 and select only numbers divisible by 7 and 17.

# creating a series from 1 to 1000

series = pd.Series(range(1,1001))

# selecting only numbers divisible by 7 and 17

series = series[(series % 7 == 0) & (series % 17 == 0)]

# printing the series
print("Numbers divisible by 7 and 17:")
series

Numbers divisible by 7 and 17:

118    119
237    238
356    357
475    476
594    595
713    714
832    833
951    952
dtype: int64

# # Problem Statement 4

In [16]:
# Problem Statement 4: Sylphia has a dataset of various cereals sold in the supermarket.

"""
Dataset Description:
cereal.csv - The dataset contains 16 features. Here's a brief description of 3 columns in the 
dataset:
• name - Brand name of the cereals
• MFR - Manufacturer of the brands
• rating - Rating of the cereals
Syliphia wants to visualize the quality of cereals and determine which manufacturer delivers 
the best quality.
Tasks to be performed:
1. Import the dataset.
2. Plot ratings of different types of manufacturers.
3. Use xticks range form 0-100.
4. Change the style of the graph to seaborn

"""

"\nDataset Description:\ncereal.csv - The dataset contains 16 features. Here's a brief description of 3 columns in the \ndataset:\n• name - Brand name of the cereals\n• MFR - Manufacturer of the brands\n• rating - Rating of the cereals\nSyliphia wants to visualize the quality of cereals and determine which manufacturer delivers \nthe best quality.\nTasks to be performed:\n1. Import the dataset.\n2. Plot ratings of different types of manufacturers.\n3. Use xticks range form 0-100.\n4. Change the style of the graph to seaborn\n\n"

In [17]:
# Task 1: Import the dataset
cereal_dataset = pd.read_csv('cereal.csv')

In [18]:
# Task 2: Plot ratings of different types of manufacturers
#plt.figure(figsize=(10, 6))
# sns.barplot(data=df, x='mfr', y='rating', order=sorted(df['mfr'].unique()))

plt.figure(figsize=(10, 6))
cereal_dataset.barplot(column='rating', by='mfr', color='blue')

# Task 3: Set xticks range from 0-100
plt.ylim(0, 100)
plt.xlabel('Manufacturer')
plt.ylabel('Rating')
plt.title('Ratings of Cereals by Manufacturer')
plt.suptitle('')  # Remove the default title created by boxplot()
plt.show()


# Task 4: Change the style of the graph to seaborn
sns.set(style='dark')

AttributeError: 'DataFrame' object has no attribute 'barplot'