# Problem Statement 1: 
In a survey conducted by a non-banking financial company, a sample of 
200 customers yielded that x of them were highly satisfied with the timely disbursal of their 
loans.
Write a Python code to perform the following operations:
1. Read an integer input that specifies the number of highly satisfied customers
2. Calculate an approximate 90% confidence interval for the proportion of the loan 
customers who are highly satisfied with disbursal time
• Find out the Margin of Error using scipy.stats.norm.ppf
• Calculate and print the confidence interval values rounded up to five decimal places and 
separated by a space

In [2]:
import math
from scipy.stats import norm

# Read the number of highly satisfied customers
x = int(input("Enter the number of highly satisfied customers: "))

# Total number of customers
n = 200

# Calculate the sample proportion
p_hat = x / n

# Calculate the Z-score for 90% confidence level (two-tailed, so 5% on each tail)
z_score = norm.ppf(0.90) # 0.95 because we want to exclude 5% in the upper tail

# Calculate the Margin of Error (ME)
ME = z_score * math.sqrt(p_hat * (1 - p_hat) / n)

# Calculate the confidence interval
lower_bound = round(p_hat - ME, 5)
upper_bound = round(p_hat + ME, 5)

print(lower_bound, upper_bound)

0.82856 0.89144

# Problem Statement 2:
A radar unit is used to measure the speeds of cars on a motorway. The 
speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr.
Write a Python code to perform the following operations:
1. Find the probability that a car picked at random is traveling at more than X km/hr
• Take the speed X as an input
• Print the probability value rounded up to four decimal places

In [3]:
from scipy.stats import norm

# Given mean and standard deviation
mu = 75
sigma = 15

# Take the speed X as an input
X = float(input("Enter the speed X in km/hr: "))

# Calculate the Z-score
Z = (X - mu) / sigma

# Find the probability that a car is traveling at more than X km/hr
probability = 1 - norm.cdf(Z)

# Print the probability value rounded up to four decimal places
print(round(probability, 4))

0.0478

# Problem Statement 3:

Write a Python program to load the “kerala.csv” data into a 
DataFrame and perform the following tasks:
1. Explore the DataFrame using info() and describe() functions
2. June and July are the peak months of rainfall. Consider that if it rains more than 
500mm, then chances of flood become more; create a Datarame with columns –
“YEAR”, “JUN_GT_500” (Contains a boolean value to show whether it rained 
more than 500 mm in the month of June) , “JUL_GT_500” (Contains a boolean 
value to show whether it rained more than 500 mm in the month of July), and 
“FLOODS” (Contains a boolean value to show whether it flooded that year)
3. Calculate the probability of flood given it rained more than 500 mm in June 
(P(A|B))
4. Calculate the probability of rain more than 500 mm in June, given it flooded that 
year (P(B|A))
5. Probability of flood given it rained more than 500 mm in July
6. Probability of rain more than 500 mm in July given it flooded that year (P(B|A))

In [16]:
# 1. Load the dataset

import pandas as pd

df = pd.read_csv('kerala.csv')

df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [17]:

# 2. Explore the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [18]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

In [19]:
df["FLOODS"].map({"YES": 1, "NO": 0})

0      1
1      1
2      1
3      1
4      0
      ..
113    1
114    0
115    0
116    0
117    1
Name: FLOODS, Length: 118, dtype: int64

In [22]:
# 3. Create new DataFrame
df_new = df[['YEAR']].copy()
df_new['JUN_GT_500'] = (df['JUN'] > 500).astype('int')
df_new['JUL_GT_500'] = (df['JUL'] > 500).astype('int')
df_new["FLOODS"] = df["FLOODS"].map({"YES": 1, "NO": 0})

df_new.head()

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS
0  1901           1           1       1
1  1902           0           1       1
2  1903           1           1       1
3  1904           1           1       1
4  1905           1           1       0

In [26]:

# Creating the tabular data based on the counts
pd.crosstab(df_new["FLOODS"], df_new["JUN_GT_500"])

JUN_GT_500   0   1
FLOODS
0           19  39
1            6  54

In [29]:
# 3. Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

P_F = (6 + 54) / (6 + 54 + 19 + 39)
P_J = (39 + 54) / (6 + 54 + 19 + 39)
P_F_intersect_J = 54 / (6 + 54 + 19 + 39)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.788135593220339
P(F AND J): 0.4576271186440678

In [30]:
# Now calculating the probailitity of flood given it rained more than 500 mm in June (P(A|B))
P_F_J = P_F_intersect_J / P_J
print(f"P(F|J): {P_F_J}")

P(F|J): 0.5806451612903226

In [31]:
# 4. Calculating the probability of rain more than 500 mm in June, given it flooded that  year (P(B|A))

# Probability of rain more than 500 mm in June given it flooded that year (P(B|A))
P_J_F = (P_F_J * P_J) / P_F
print(f"P(J|F): {P_J_F}")

P(J|F): 0.9000000000000001

In [32]:

# Creating the tabular data based on the counts
pd.crosstab(df_new["FLOODS"], df_new["JUL_GT_500"])

JUL_GT_500   0   1
FLOODS
0           19  39
1            3  57

In [33]:
# 5. Probability of flood given it rained more than 500 mm in July
P_F = (3 + 57) / (19 + 3 + 39+ 57)
P_J = (39 + 57) / (19 + 3 + 39+ 57)
P_F_intersect_J = 57 / (19 + 3 + 39+ 57)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.8135593220338984
P(F AND J): 0.4830508474576271

In [34]:
P_F_J = P_F_intersect_J / P_J
print(f"P(F|J): {P_F_J}")

P(F|J): 0.59375

In [35]:
# 6. Probability of rain more than 500 mm in July given it flooded that year (P(B|A))


P_J_F = (P_F_J * P_J) / P_F
print(f"P(J|F): {P_J_F}")

P(J|F): 0.9500000000000002

# Problem Statement 4:

Write a Python program to load the wine dataset using the Sklearn 
library to a DataFrame and perform the following tasks:
1. Convert the dataset into DataFrame using pandas.
2. Generate the sample size of 50 and give a random state as 100.
3. Calculate Z-critical, Margin of Error, and Confidence Interval for alcohol at 95% 
significance interval on generated sample data

In [4]:
import pandas as pd
from sklearn import datasets
from scipy import stats
import numpy as np

# 1. Load the wine dataset and convert to DataFrame
wine_data = datasets.load_wine()
wine_df = pd.DataFrame(data=wine_data.data, columns=wine_data.feature_names)

# 2. Generate a sample of size 50
sample = wine_df.sample(n=50, random_state=100)

# 3. Calculate Z-critical, Margin of Error, and Confidence Interval for alcohol
alpha = 0.05
z_critical = stats.norm.ppf(1 - alpha) # Z-critical value for 95% confidence

# Calculate the sample mean and standard deviation
sample_mean = sample['alcohol'].mean()
sample_std = sample['alcohol'].std()

# Calculate the Margin of Error
margin_of_error = z_critical * (sample_std/np.sqrt(50))

# Calculate the Confidence Interval
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

print(f"Z-critical Value: {z_critical:.4f}")
print(f"Margin of Error: {margin_of_error:.4f}")
print(f"95% Confidence Interval for Alcohol: {confidence_interval}")

Z-critical Value: 1.6449
Margin of Error: 0.1788
95% Confidence Interval for Alcohol: (12.794794802158025, 13.152405197841974)